body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 0 32px;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
}
.container {

}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}
.logo__main {
    margin-right: 40px;
}
.header__menu {
    display: flex;
    gap: 32px;
    margin-right: 300px;
}
.header__menu-list {
    
    
}
.header__menu-item {
    
}
.header__info {
    
}
.header__info span {
    display: block;
    font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #676767;
text-align: end; 
}
.header__info {
position: relative;
}
.header__info::after{
position: absolute;
display: block;
content: "";
width: 46px;
height: 1px;
background: #101010;
top: 25%;
right: 0px;
/* transform: translateY(-50%); */
}
.header__button {
    background: #101010;
border-radius: 100px;
    padding: 8px 20px;
    color: #fff;
}
/* =======================DREAM======================================== */
.dream {
}
.container {
}
.dream__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
height: 780px;
background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.068) 0%, rgba(255, 255, 255, 0.04) 100%), #101010;
border-radius: 24px;
align-items: center;
text-align: center;
color: #fff;
position: relative;
margin-top: 18px;
}
.dream__subtitle {
    padding-top: 120px;
    text-align: center;
text-transform: uppercase;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
.dream__title {
    text-align: center;
    justify-content: center;
    font-weight: 500;
font-size: 100px;
line-height: 112px;
max-width: 687px;
margin-bottom: 35px;
margin-top: 8px;
}
.dream__button {
    justify-content: center;
    display: flex;
    z-index: 1;
    width: 213px;
height: 64px;
    background: linear-gradient(263.34deg, rgba(255, 255, 255, 0.2) -28.49%, rgba(241, 241, 241, 0.002) 114.43%), rgba(16, 16, 16, 0.2);
backdrop-filter: blur(6px);
border-radius: 100px;
text-align: center;
align-items: center;
}
.dream__button span{
    text-align: center;
    align-items: center;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #fff;
margin-left: 16px;
}
.bike__main {
    display: flex;
    position: absolute;
    bottom: 0;
}